<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{% if resource.meta.language is defined %}{{ resource.meta.language }}{% else %}en{% endif %}" lang="{% if resource.meta.language is defined %}{{ resource.meta.language }}{% else %}en{% endif %}">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="{{ author.name }}" />
  <!-- Google Web Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans&v1' rel='stylesheet' type='text/css'>
  <!-- Blueprint CSS Framework -->
  <link rel="stylesheet" href="{{ media_url('styles/blueprint/screen.css') }}" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="{{ media_url('styles/blueprint/print.css') }}" type="text/css" media="print" />
  <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ media_url('styles/blueprint/ie.css') }}" type="text/css" media="screen, projection" />
  <![endif]-->

  <link rel="stylesheet" href="{{ media_url('styles/base.css') }}" type="text/css" media="screen" />
  <link rel="shortcut icon" type="image/png" href="{{ media_url('images/glider.png') }}" />
  <title>{{ author.name }}{% if resource.meta.title is defined %} - {{ resource.meta.title }}{% endif %}</title>
</head>
<body>
    <div class="container">
      <div class="span-24">
        <br />
      </div>
      <div class="span-24">
        <h1>{{ author.name }}</h1>
      </div>
      <div class="span-21 quiet">
        {% for item in menu[resource.meta.language] %}
        <a href="{{ item.url }}" class="large menu">{{ item.name }}</a>{% if not loop.last %}&nbsp;&nbsp;|&nbsp;{% endif %}
        {% endfor %}
      </div>
      <div class="prepend-2 span-1 last">
      {% if resource.translations is defined %}
        {% for translation in resource.translations %}
        <a href="{{ translation.full_url }}" class="large"><img src="{{ media_url('images/flags/' + translation.meta.language + '.png') }}"
 alt="{{ languages[translation.meta.language] }}" /></a>
        {% endfor %}
      {% endif %}
      </div>
      <hr />
      <div class="span-24">
        {% filter markdown -%}
        {% block content %}{% endblock %}
        {%- endfilter %}
      </div>
      <hr />
      <div class="span-24">
        <p class="quiet footer">{% if resource.meta.language is defined %}{{ footer[resource.meta.language] }}{% else %}{{ footer[en] }}{% endif %}</p>
      </div>
    </div>
</body>
</html>
